%div.leading-loose.m-auto.p-6{ class: "max-w-[600px]"}
  Here are some examples of powerful vision statements from men who have been using the Battle Planning tool in their lives.

  %h2.text-center.font-semibold.mt-8.mb-4
    Samuel Ayres - CEO/Owner, The Wild Initiative, LLC

  %p
    I look in the mirror each morning when I wake up, confident and full of the knowledge that I am enough. I no longer make decisions out of a misplaced desire to reaffirm my self-worth or make “more” of myself in the eyes of others. I’ve learned to manage my anxiety and, instead of obsessing or panicking, I can “let go” when issues out of my direct control arise.

  %p
    The systems I've built in my life allow me to effectively manage my days. This has allowed me to focus on staying fit, investing in my family, taking time to hunt and fish and investing in my other hobbies. In whatever task I take on, I’m efficient and laser-focused, giving whoever or whatever is in front of me my full attention and effort. I’m no longer distracted and overwhelmed by “everything else I need to do”.

  %p
    I've grown The Wild Initiative into an efficient, profitable business that has allowed me to live comfortably with my family in a house on some acreage here in Montana. We can enjoy hobbies, vacations and holidays without the concerns of being in the office for a nine-to-five. The staff I’ve hired is talented, invested in the company and I trust them to run the day-to-day operations, so I can focus on the continued growth of the business and the podcast.

  %p
    I'm still eager for consistent time in the outdoors, whether hunting, fly fishing or just camping, not as an escape from the life I love, but as a time of focus, refreshment and celebration of one of the many things that bring me joy. I can still draw my bow with ease and am fully capable of tackling daunting terrain after elk, mule deer and bear. I find consistent success because I always push myself on to the next challenge, craving and actively seeking out the intimidating packs across the aggressive, rough landscape that most outdoorsmen avoid. I spend time sharing my passion for the outdoors with others and have many years in the hills still ahead of me.

  %p
    Though the lines around my eyes are more established and my hair is a very distinguished shade of gray, I am strong, healthy and energetic. I’ve fully embraced my age, and I look just as fit as I feel, still turning heads as I walk down the sidewalk.

  %h2.text-center.font-semibold.mt-8.mb-4
    Chris King - Investigator, Child Protective Services

  %p
    I am a man in pursuit of the greatest version of myself possible. I am comfortable being uncomfortable and embrace the challenges that lay ahead. I am a man of virtue, strength, and grit that holds steadfast to my morals and values. I am not only physically capable but emotionally and spiritually capable to endure whatever I encounter. I am the leader God has ordained me to be, living purposefully and intentionally. I do not allow my emotions to dictate my actions, yet am not dismissive of my emotional self. All of these allow me to fulfill the greater purpose of being the father mentor and man I was meant to be. Teaching through living and loving. This is my vision, my calling, my enduring legacy. 
  
  %h2.text-center.font-semibold.mt-8.mb-4
    Tyson Junkers - Creative Director

  %p
    I am a man that never wears stress on his sleeve. I am in better health than I have ever been both mentally and physically. I spend time every day clearing my mind of any negativity and work to push my mind and body in new directions.

  %p
    I have a strong relationship with my kids and spend time with them every day away from tech. I am a great father who lets my kids make mistakes while showing them how to pick themselves back up. I lead by example and am not afraid to show them my faults while showing them how I make up for them.

  %p
    I continue to push myself in new directions. I am in the best shape I have ever been in and eat a healthy diet every day. I set the standard to my kids, wife, and friends of what’s possible no matter your age when it comes to staying healthy and fit.

  %p
    I help out those in need by turning books into action. Too many people read book after book after book, but never use what they read in their daily life. I will help steer people in the right direction while staying the person I am: someone who wakes up every day ready to try something new with a smile on my face.

  %h2.text-center.font-semibold.mt-8.mb-4
    Stephen Laing - Kitchen Designer, Countrywide Kitchens

  %p
    Maintaining my personal integrity, I am a man who is confident and fearless in his endeavors, acting courageously and with respect.

  %p
    I gain wisdom through teachings and experience. Using that wisdom to be the father and friend that can be counted upon, whatever the circumstance. Building up the people around me with encouragement, humour, knowledge, and humility. Seeing my family and friends excel in their lives brings me joy.

  %p
    I am a man who increases and maintains the health of his body to be able to use his strength and conditioning when called upon by life’s circumstances.

  %p
    Life is my creation. I live for a strong purpose. Never giving up.

  %h2.text-center.font-semibold.mt-8.mb-4
    Wes McWhorter - Director of Product Development, Hunit

  %p
    I have spiritual, mental and emotional freedom in the sense that I am strong, stable and wise and strive to live daily according to my values. I am not a slave to my feelings and emotions or the feelings and emotions of others. I allow myself to feel them and to metabolize them, but I do not dwell or ruminate on them. I do not let them metastasize into destructive thoughts and behaviours. This leads me to know that my role as a leader of my family and those in my care is one defined by loving, gentle wisdom. Guiding and encouraging. Nurturing and unthreatened. Thoughtful and kind. Trusted and reliable. Strong and protecting.

  %h2.text-center.font-semibold.mt-8.mb-4
    Dylan Bain - Senior Internal Auditor, Xcel Energy

  %p
    I am calm, collected, and confident in my mindset, emotional health, and spiritual focus. I am un-enmeshed, fully self-differentiated and live life on my terms with a clarity of purpose. My mindset is expressed through my actions and those actions speak such that I never have to; my inner focus is the edge I use to carve out my place in this world. My inner demons have been hunted down and killed or have been domesticated for proper use. 

  %p
    When I walk into a room, the first impression of the casual observer is that I am strong, fast, and capable. I have a reputation as being committed to my health and fitness, to clean eating, and a bit crazy in the physical pursuits that I undertake. I am at 8 – 12 % body fat, can deadlift 2x my body weight without much struggle, and casually run a 5k. I am physically impressive.

  %p
    I use my abilities and elevated state of being to create a relationship with my children that most only dream of and, without boastful action, it is clear and apparent to all we connect with each other. My daughters look to me as a guiding light. They are proud to be mine and admire who and what I have become. The word “Papa” is interchangeable with security, reliability, and love. 

  %p
    At work, I am considered a joy to work with, sought after for projects and known for my knowledge and abilities. “Dylan” is synonymous with “great teammate, outstanding work, never-say-die fortitude, and quality leadership”.

  %p
    I am financially independent (FI) and with that freedom, I have returned to the classroom to help educate and raise the next generation of citizens for my nation and community. In the school, I am known for raising the level of those I work with, holding myself and my students to high standards, leading through word and deed. I am particularly known for providing a guiding light for the myriad of boys lost in the school system. In the broader community, I freely give of my time and frequently volunteer in the stewardship of our God-given lands and the creation of better citizens with a circle of peers who are known as a source of leadership and inspiration. 

  %h2.text-center.font-semibold.mt-8.mb-4
    Nolan Connell - Police Office, Wylie, TX

  %p
    I am a man who never stops himself from getting ahead, never stops learning, and never closes himself off from the opportunity to be a good student in the game we call life. I am a man who has a strong spiritual relationship and puts back into the church. I am a small group leader, youth group leader, and a passionate member of the church who is called upon by leadership. I am the best father, husband, friend, coach, and mentor I can be. I have a strong and healthy relationship with my son and daughter that produces young adults ready to take on the world without fear. I am physically fit, which means being able to play with my kids, coach their teams, protect them and myself against an attack, and tackle anything that is thrown at me with no issues. I partake in physically challenging events regularly to test myself and prepare myself for anything that comes my way. I have a large profitable coaching business that helps others achieve their physical fitness goals which is focused on nutrition and physical fitness. I am debt free and own my vehicles and house outright with no payments. I have a heavy emergency fund and savings account. I have a weekly tithe and offering set up that goes back to the church and supports their endeavors. I am able to go on vacations, buy things, and spend money without the anxiety of if I have enough fighting me. I have built a strong woodworking business with my son that is profitable and runs independently.

  %h2.text-center.font-semibold.mt-8.mb-4
    Steven Bubel - Personal Trainer

  %p
    I am lean, strong, fit, and pain free which allows me to live a life of adventure without limits. I have a popular podcast and a thriving online personal training business which affords me the freedom to make my own hours, read, write, travel, and network with the best in the business. I am respected for my expertise and freely share my knowledge with others to assist them in living a healthier lifestyle. I am interesting and do cool shit; forever making NEW memories with my wife, children, and, eventually, grandchildren. I burn out instead of fade away.

  %h2.text-center.font-semibold.mt-8.mb-4
    Michael Blose - Owner, Triple Threat Jiu Jitsu

  %p
    I am a modern day knight: a warrior and a gentleman. As the patriarch of my family I am prepared to protect, provide, and preside over those in my charge and those inside my area of influence. I am a man of faith which guides my life. I am just an average man dedicated to being 1% better everyday. I surround myself with people I admire and inspire me to be better. I proudly carry my family name and live with honor and integrity to ensure my legacy far after I am gone. I live a life of blissful dis-satisfaction: appreciating every step of my journey but knowing I have much more inside. I look to serve others in all capacities I am able. I overcome obstacles and persevere even when the odds are stacked strongly against me. I seek out adversity and embrace the struggle. I am capable of leading but know when the team requires that I follow. I’m dedicated to diplomacy and peace but will valiantly fight to win when necessary. I seek new people, experiences, skills, and opportunities. I lead by example and take ownership of everything in my world. I live the mantra through discipline comes freedom.

  %h2.text-center.font-semibold.mt-8.mb-4
    Shawn Villalovos - Senior Executive Vice Chairman, Revolution Financial Management

  %p
    I am confident in myself, and comfortable with who I am. I am happy with my choices, and strive to be better all the time. I will continually increase my capacity to receive input that will make me a better man. I will constantly increase my center of influence, for myself and those around me. Simultaneously, I will continue to strengthen the bond I have with my current associations. I will continually increase the scale of my contribution to this world, starting in my home. Through education, expansion, mentoring, and branding, I will always help others to better themselves, and therefore, make the world a better place. Physically, I will stay fit, well into my 70s. I will be able to surf, hunt, and engage in any other physical activities that I desire, and be able to perform well while doing them.

  %h2.text-center.font-semibold.mt-8.mb-4
    Eric Vandal - Electrician, Vesta Automation

  %p
    I'm sitting with Anita on my deck having coffee in front of our house in the country where I have no neighbors. All I hear is the sound of the birds chirping, and squirrels running around. In the field there are deer grazing while the sun is rising. I can see the fish eating the bugs on the surface of the water of my pond. The ducks are taking off to go feed for the day. I’m absorbing life and thinking about all the wonderful people I have in my life.

  %p
    I stretch for a while before I go for my morning nature run which I do every morning. I don't have to rush because my investments in real estate and stocks have gotten me to the point where I’m not working for someone. I have found ways to automate my investment in order to free up my time. Being financially free allows me to be there for my family whenever they want me to go hang out with them. It also allows me to give them my time and money if ever they would need it.

  %p
    Anita and I spend lots of time with Robert and Kaiden. I can keep up with them because I constantly work on my flexibility, endurance and strength. They have families of their own and have become high achieving men who are there for their families as well. They are independent, strong, and keep true to their values as I have. They have become financially free as well from all the teachings from myself and what they were able to learn on their own. I am close with God by continuing to work on my faith and my path to heaven. Anita and I are happy and thankful for the life we have built together. We have two wonderful successful children that we couldn’t be more proud of.

  %h2.text-center.font-semibold.mt-8.mb-4
    Chris Gratigny - Software Company Founder, Progetta, Inc.
  
  %p
    I am a man who leads my family and other men. When people see me, they are a confident man who knows who he is. I continually learn, read, grow and seek out opportunities to be a better man, husband, father and leader. I follow through on my word to myself and others. I like what I see when I look in the mirror and I’m able to compete in sports. I have self control with eating, and push myself when working out. My relationship with my wife is great, not just good. My daughters trust me and come to me when they need to talk. I’m well connected to men. I have stability and abundance through my financial well being and discipline. I am generous with my finances.