%div.leading-loose.m-auto.p-6{ class: "max-w-[600px]"}
  %h2.text-center.font-semibold.mt-8 Privacy Policy

  %p.m-4

  %p We at Order of Man Battle Planner (hereinafter “OOM”) respect and wish to protect your privacy. We hold our relationship with you, the User, with great value. Your use of this application is subject to this Privacy Policy.
  %p Your use of Apple and Google in general and your relationship with Apple and Google are subject to Apple and Google’s own Privacy Policy and Apple and Google’s other terms and policies, which OOM does not control. OOM explains herein how we may use the information we collect with this application on Apple and Google and with whom we may share it.
  %p.font-semibold What Information Do We Collect?
  %p The two types of personal information we may collect with this application are:
  %ol
    %li (1) information and content we receive from Apple and Google that was provided by you or other users to Apple and Google or was associated by Apple and Google with a particular user (hereinafter “information we receive from Apple and Google”) and
    %li (2) information and content we receive from any other social media platform including but not limited to Twitter, Snapchat, Instagram that was provided by you or other users to these platforms or was associated by these platforms with a particular user (hereinafter “information we receive from these platforms”) and
    %li (3) any information and content you provide directly to us, such as by submitting it to us through a form in this application (hereinafter “Independent Information”).
  %p OOM only operates in the US.  We are not responsible for any user data entered by anyone that is not a citizen of the US.  EU users should NOT enter their data on the OOM platform.
  %p What is Information We Receive From Apple and Google?
  %p Any information you have made visible to “Everyone” on Apple and Google as well as the information Apple and Google designates as your publicly available information may be collected as you use the application. Information includes but may not be limited to your name, profile picture and email address. We use this information to operate the application.
  %p What is the “Independent Information” we may use?
  %p The OOM application may ask you to explicitly provide certain information to us, such as your email address and other contact information. We generally use independent information for the customizing your experience and provide you the most relevant information.
  %p How We Share Information We Receive from Apple and Google
  %p OOM may disclose information received from Apple and Google to our affiliates and service providers as permitted by Apple and Google. OOM does not and will not provide such information to third parties for their use in marketing their products or services to you without your consent. Apple and Google may use content and information it collects in relation to your use of this application. We also may share information we receive from Apple and Google with other third parties with your consent including but not limited to other users of Apple and Google and other users of the application, as described herein above. OOM  will disclose any information we receive from Apple and Google as deemed required, in our sole discretion, in order to comply with any applicable law, regulation, legal process or governmental request.
  %p Additionally, it is OOM’s prerogative to disclose information we receive from Apple and Google when, in our sole discretion, disclosure is required to prevent physical harm or financial loss or in connection with suspected or actual illegal activity.
  %p.font-semibold Contact
  %p If you have any questions or comments about this privacy notice, please contact us by email at battleplanner@orderofman.com.
  %p Some OOM pages will be available for the public to see on the Internet and may be indexed and returned in results by search engines like Google and Bing. All public pages and therefore your activity on those pages is public information.
  %p You are independently responsible for complying with all applicable laws in all of your actions related to your use of OOM ’s services, regardless of the purpose of the use. In addition, you must adhere to the terms of this Acceptable Use Policy.
  %p.font-semibold User Tax and Legal Representations
  %p As a condition of using our service, you represent to us that:
  %p (a) If you are residing in the United States;
  %p.font-semibold Prohibited Activities
  %p The OOM  service may not be used for activities that violate any law, statute, ordinance or regulation, post items that are considered obscene or that infringe or violate any copyright, trademark, right of publicity or privacy or any other proprietary right under the laws of any jurisdiction, post any sexually oriented materials or services, or show the personal information of third parties in violation of applicable law.
  %p.font-semibold Violations of the Acceptable Use Policy
  %p We encourage you to report violations of this Acceptable Use Policy to OOM immediately.
  %p.font-semibold Introduction
  %p These Terms and Conditions may only be modified by an authorized executive of Order of Man Battle Planner. These Terms and Conditions will be binding upon and will inure to the benefit of the parties, their successors and permitted assigns.
  %p OOM processes payment transactions through Stripe, App Store and Google In-App purchase. OOM is not a chartered banking entity. All funds that are not part of a fee paid to OOM .com are paid directly to a 3rd-party payment solutions.
  %p The User will not hold OOM  liable or responsible for any funds or tax obligations on those funds paid to any 3rd-party payment solutions. Users agree not to involve OOM , in any litigation, claim, counter-claim, intervention, etc. that may occur as a result of using the website or application.
  %p OOM  will not be held liable for any loss or damage due to failure to comply to the terms of this agreement.
  %p.font-semibold Disclaimer of Warranties
  %p OOM , LLC MAKES NO REPRESENTATIONS OR WARRANTIES AS TO THE MERCHANTABILITY OF OUR SERVICE OR FITNESS FOR ANY PARTICULAR PURPOSE. YOU, THE USER, AGREE THAT YOU ARE RELEASING US FROM ANY LIABILITY THAT WE MAY OTHERWISE
  %p HAVE IN RELATION TO OR ARISING FROM THIS AGREEMENT OR OUR PRODUCTS, FOR REASONS INCLUDING, BUT NOT LIMITED TO, FAILURE OF OUR SERVICE, NEGLIGENCE, OR ANY OTHER TORT. TO THE EXTENT THAT APPLICABLE LAW RESTRICTS THIS RELEASE OF LIABILITY, YOU AGREE THAT OOM , LLC ONLY LIABLE FOR THE MINIMUM AMOUNT OF DAMAGES THAT THE LAW RESTRICTS OUR LIABILITY TO, IF SUCH A MINIMUM EXISTS.
  %p YOU, THE USER, AGREE THAT WE ARE NOT RESPONSIBLE IN ANY WAY FOR OFFERS MADE BY THIRD PARTIES THROUGH OUR WEBSITE OR APPLICATION. THIS INCLUDES ANY FAILURE OF ANY GOODS OR SERVICES TO MEET YOUR EXPECTATIONS.
  %p WE ARE NOT RESPONSIBLE FOR ANY THIRD PARTY OFFERS THAT MAY TURN OUT TO BE FRAUDULENT, IRRESPONSIBLE, OR OTHERWISE ADVERTISED IN BAD FAITH.
  %p WE ARE NOT RESPONSIBLE FOR ANY FAILURES ON THE PART OF OUR THIRD PARTY PAYMENT PROCESSORS.
  %p WE ARE NOT LIABLE FOR ANY FAILURE OF THE GOODS OR SERVICES OF OUR COMPANY OR A THIRD PARTY, INCLUDING ANY FAILURES OR DISRUPTIONS, UNTIMELY DELIVERY, SCHEDULED OR UNSCHEDULED, INTENTIONAL OR UNINTENTIONAL, ON OUR
  %p WEBSITE WHICH PREVENT ACCESS TO OUR WEBSITE TEMPORARILY OR PERMANENTLY.
  %p THE PROVISION OF OUR SERVICE TO YOU IS CONTINGENT ON YOUR AGREEMENT WITH THIS AND ALL OTHER SECTIONS OF THIS AGREEMENT. NOTHING IN THE PROVISIONS OF THIS “REPRESENTATIONS &amp; WARRANTIES” SECTION SHALL BE
  %p CONSTRUED TO LIMIT THE GENERALITY OF THE FIRST PARAGRAPH OF THIS SECTION.
  %p For Jurisdictions that do not allow us to limit our liability: Notwithstanding any provision of these Terms, if your jurisdiction has provisions specific to waiver or liability that conflict with the above then our liability is limited to the smallest extent possible by law. Specifically, in those jurisdictions not allowed, we do not disclaim liability for:
  %p (a) death or personal injury caused by its negligence or that of any of its officers, employees or agents; or
  %p (b) fraudulent misrepresentation; or
  %p (c) any liability which it is not lawful to exclude either now or in the future.