%div.leading-loose.m-auto.p-6{ class: "max-w-[600px]"}
  %h2.text-center.font-semibold.mt-8 Request Data Deletion

  %p.m-4
    To request your data to be deleted, email battleplanner@orderofman.com with the subject of
    "Delete my Account". You must email from your account email.
