.m-auto.w-96.mt-10
  = image_tag "app-preview.png", class: "w-fill"

%h2 12 Week Battle Planner
We’re going to teach you how to get more done in the next 12 weeks than most men do all year. The 12-Week Battle Planner is a system developed over 6 years of testing with tens of thousands of men who have improved every facet of their lives from health and fitness, to money and business, to building and salvaging important relationships, and everything in between. Ready to get in the game?